@import 'variable';
@import 'mixins';

*{
    font-family: 'Kumbh Sans', sans-serif;;
}

body{
    scroll-behavior: smooth;
}

.container{
    padding: 0;
}

    // header section
header{
    position: relative;
    padding: 2em 0;
    border-bottom: 1px solid #eee;
    @include mQ(800px){
        padding: 1.5em 0;
    }
    @include mQ(650px){
        border-bottom: none;
        padding: 0.5em 1em;
        display: flex;
        align-items: center;
        justify-content: space-between;

    }
}

    // navigation
header nav{
    display: flex;
    @include mQ(650px){
        justify-content: space-between;
        width: 90%;
    }
}

div.hamburger{
    display: none;
    @include mQ(650px){
        display: inline-block;
        cursor: pointer;
        margin-top: 2px;
        width: 5%;
    }
    img{
        width: 100%;
    }
}


    // design for logo
div.logo{
    line-height: 2.5em;
    @include mQ(800px){
        width: 17%;
    }
    @include mQ(650px){
        width: 40%;
    }
    img{
        width: 100%;
    }
}

    // nav links and related designs

div.navLinks{
    flex-grow: 1;
    display: flex;
    align-items: flex-end;
    @include mQ(650px){
        display: none;
    }
    ul{
        display: flex;
        align-items: center;
        @include mQ(800px){
            margin: 7px
        }
        li{
            list-style-type: none;
            padding: 0 5%;
            a{
                position: relative;
                text-decoration: none;
                color: $grayishBlue;
                font-weight: 500;
                transition: color .3s, font-weight .2s;
                @include mQ(800px){
                    font-size: 0.85rem;
                }
                &:hover{
                    font-weight: 900;
                    color: rgba($color: #000000, $alpha: .7);
                }
                &::before{
                    content: '';
                    position: absolute;
                    width: 100%;
                    height: 0;
                    transition: height .3s ease-in-out;
                    background: $orange;
                    top: 4em;
                    @include mQ(800px){
                        top: 3.4em;
                    }
                }
                &:hover::before{
                    height: 4px;
                }
            }
        }
    }
} 

    // cart and profile design
div.cartProfile{
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include mQ(800px){
        width: 13%;
    }
    @include mQ(650px){
        width: 25%;
    }
}

    // design for cart
div.cart{
    width: 20%;
    position: relative;
    svg{
        fill: #69707D;
        cursor: pointer;
        transition: fill .2s ease-in;
        &:hover{
            fill: #000;
        }
    }
}

    // design for number of cart
.empty-cart{
    opacity: 0;
    position: absolute;
    background: $orange;
    color: $white;
    top: -0.5em;
    right: 0.03em;
    padding: .7em 0;
    line-height: 0;
    width: 50%;
    border-radius: 30%;
    font-size: 0.7rem;
    text-align: center;
    transition: opacity 400ms linear;
}

.cart-number{
    position: absolute;
    background: $orange;
    color: $white;
    top: -0.3em;
    right: 0.03em;
    padding: .7em 0;
    line-height: 0;
    width: 55%;
    border-radius: 30%;
    font-size: 0.7rem;
    text-align: center;
    opacity: 1;
    transition: opacity 400ms linear;
    @include mQ(800px){
        top: -0.3em;
        right: -1em;
        width: 80%;
    }
}

    // profile image design
div.profile{
    width: 40%;
    border: 2px solid transparent;
    border-radius: 50%;
    transition: border .3s linear;
    cursor: pointer;
    @include mQ(650px){
        width: 42%;
    }
    &:hover{
        border: 2px solid $orange;
    }
    img{
        width: 100%;
        transition: width .1s ease-in;
        &:hover{
            width: 99%;
        }
    }
}

    // back to top design
.back-to-top{
    position: fixed;
    right: 5%;
    bottom: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4%;
    height: 8%;
    transition: transform 200ms linear;
    transform: translateX(350px);
    z-index: 1;
    @include mQ(800px){
        right: 2%;
    }
    @include mQ(650px){
        width: 8%;
        right: 2%;
    }
    &:hover svg, &:active svg{
        stroke: #eee;
    }
    &:hover #svg-fill{
        fill: #ff7d1a;
    }
    svg{
        stroke: #ff7d1a;
        transition: stroke 0.2s;
        animation: bounce .9s infinite ease-out;
        border-radius: 3px;
    }
}


.active{
    font-weight: 900 !important;
    color: rgba($color: #000000, $alpha: .7) !important;

}

#svg-fill{
    fill: transparent;
    transition: fill 0.2s;

}

//design for cart content
.cart-parent{
    width: 28%;
    background: #fff;
    position: absolute;
    top: 90%;
    right: -3vw;
    z-index: 10;
    box-shadow: 0 11px 20px 0px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    height: 200%;
    @include mQ(1100px){
        width: 30%;
        right: -2vw;
    }
    @include mQ(650px){
        width: 95%;
        right: 0;
        top: 110%;
        left: 2.5%;
        height: 500%;
    }
    p{
        &:nth-child(1){
            text-transform: capitalize;
            border-bottom: 1px solid #eee;
            margin-bottom: 0;
            padding: 0.5em 1em 1em;
            font-weight: 900;
            @include mQ(800px){
                font-size: 0.9rem;
            }
        }
        &:nth-child(2){
            width: 70%;
            margin: 20% auto;
            text-align: center;
            font-size: .9rem;
            font-weight: 900;
            @include mQ(800px){
                font-size: 0.8rem;
            }
        }

    }

}


.cart-content-checkout-btn{
    display: none;
}

//keyframes

@keyframes bounce {
    0%{
        transform: translateY(-2px);
    }
    50%{
        transform: translateY(3px);
    }
    100%{
        transform: translateY(-2px);
    }
}

@keyframes blurred-in{
    0%{
        opacity: 0;
        filter: blur(20px);
    }
    
    100%{
        opacity: 1;
        filter: blur(0);
    }
}
