@import 'variable';
@import 'mixins';

// design for scrollbar
::-webkit-scrollbar{
    width: 10px;
    height: 5px;
}

::-webkit-scrollbar-track{
    background: #EDE1D7;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb{
    background: $orange;
    border-radius: 10px;
    border: 1px solid #EDE1D7;
    &:hover{
        background: #db6104;
    }
}

// for al browser support
@supports (scrollbar-color: red blue){
    *{
        scrollbar-color: #EDE1D7 $orange ;
        scrollbar-width: thin;
    }
}



*{
    font-family: 'Kumbh Sans', sans-serif;;
}

body, .cart-parent, .cart_content{
    scroll-behavior: smooth;
}

.container{
    padding: 0;
    @media screen and (min-width: 576px) and (max-width: 760px) {
        max-width: 640px;
    }
}

    // header section
header{
    position: relative;
    padding: 2em 0;
    border-bottom: 1px solid #eee;
    @include mQ($tablet){
        padding: 1.5em 0;
    }
    @include mQ($mobile){
        border-bottom: none;
        padding: 0.5em 1em;
        display: flex;
        align-items: center;
        justify-content: space-between;

    }
}

    // navigation
header nav{
    display: flex;
    @include mQ($mobile){
        justify-content: space-between;
        width: 90%;
    }
}

div.hamburger{
    display: none;
    @include mQ($mobile){
        display: inline-block;
        cursor: pointer;
        margin-top: 2px;
        width: 5%;
    }
    img{
        width: 100%;
    }
}


    // design for logo
div.logo{
    line-height: 2.5em;
    @include mQ($tablet){
        width: 17%;
    }
    @include mQ($mobile){
        width: 40%;
    }
    img{
        width: 100%;
    }
}

    // nav links and related designs

div.navLinks{
    flex-grow: 1;
    display: flex;
    align-items: flex-end;
    @include mQ($mobile){
        display: none;
    }
    ul{
        display: flex;
        align-items: center;
        @include mQ($tablet){
            margin: 7px
        }
        li{
            list-style-type: none;
            padding: 0 5%;
            a{
                position: relative;
                text-decoration: none;
                color: $grayishBlue;
                font-weight: 500;
                transition: color .3s, font-weight .2s;
                @include mQ($tablet){
                    font-size: 0.85rem;
                }
                &:hover{
                    font-weight: 900;
                    color: rgba($color: #000000, $alpha: .7);
                }
                &::before{
                    content: '';
                    position: absolute;
                    width: 100%;
                    height: 0;
                    transition: height .3s ease-in-out;
                    background: $orange;
                    top: 4em;
                    @include mQ($tablet){
                        top: 3.4em;
                    }
                }
                &:hover::before{
                    height: 4px;
                }
            }
        }
    }
} 

    // menu for mobile
.mobile-menu-parent{
    display: none;
    @include mQ($mobile){
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        background-color: rgba($color: #000000, $alpha: .7);
        z-index: 15;
        width: 100%;
        height: 100vh;
    }
} 


.mobile-menu{
    background-color: $white;
    width: 0;
    height: 100%;
    padding: 0;
    overflow: hidden;
}


.slide-in{
    animation: slide-in 800ms 100ms ease-in-out forwards;
}

.slide-out{
    animation: slide-out 500ms ease-in-out forwards;
}

.mobileNavLinks{
    margin-block: 2em;
    ul{
        list-style-type: none;
        padding-left: 0;
    }
    li{
        margin-block: 1em;
    }
    a{
        text-decoration: none;
        text-transform: capitalize;
        color: $varkBlue;
        font-weight: bolder;
        transition: color 200ms; 
        padding-block: 0.5em;   
        position: relative;
        &::before{
            content: "";
            position: absolute;
            height: 6%;
            bottom: 0;
            background-color: $orange;
            transition: all 400ms;
            left: 50%;
            right: 50%;
        }
        &:hover::before{
            left: 0;
            right: 0;
        }
    }
}

.mobileActive{
   &::before{
        
        width: 100% !important;
        left: 0 !important;
   }
}

    // cart and profile design
div.cartProfile{
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include mQ($tablet){
        width: 13%;
    }
    @include mQ($mobile){
        width: 25%;
    }
}

    // design for cart
div.cart{
    width: 20%;
    position: relative;
    cursor: pointer;
    svg{
        fill: #69707D;
        cursor: pointer;
        transition: fill .2s ease-in;
        &:hover{
            fill: #000;
        }
    }
}

    // design for number of cart
.empty-cart{
    opacity: 0;
    position: absolute;
    background: $orange;
    color: $white;
    top: -0.5em;
    right: 0.03em;
    padding: .7em 0;
    line-height: 0;
    width: 50%;
    border-radius: 30%;
    font-size: 0.7rem;
    text-align: center;
    transition: opacity 400ms linear;
}

.cart-number{
    position: absolute;
    background: $orange;
    color: $white;
    top: -0.3em;
    right: 0.03em;
    padding: .7em 0;
    line-height: 0;
    width: 55%;
    border-radius: 30%;
    font-size: 0.7rem;
    text-align: center;
    opacity: 0;
    transition: all 400ms linear;
    @include mQ($tablet){
        top: -0.3em;
        right: -1em;
        width: 80%;
    }
}

    // profile image design
div.profile{
    width: 40%;
    border: 2px solid transparent;
    border-radius: 50%;
    transition: border .3s linear;
    cursor: pointer;
    @include mQ($mobile){
        width: 42%;
    }
    &:hover{
        border: 2px solid $orange;
    }
    img{
        width: 100%;
        transition: width .1s ease-in;
        &:hover{
            width: 99%;
        }
    }
}

    // back to top design
.back-to-top{
    position: fixed;
    right: 5%;
    bottom: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4%;
    height: 8%;
    transition: transform 200ms linear;
    transform: translateX(350px);
    z-index: 1;
    @include mQ($tablet){
        right: 2%;
    }
    @include mQ($mobile){
        width: 8%;
        right: 2%;
    }
    &:hover svg, &:active svg{
        stroke: #eee;
    }
    &:hover #svg-fill{
        fill: #ff7d1a;
    }
    svg{
        stroke: #ff7d1a;
        transition: stroke 0.2s;
        animation: bounce .9s infinite ease-out;
        border-radius: 3px;
    }
}


.active{
    font-weight: 900 !important;
    color: rgba($color: #000000, $alpha: .7) !important;

}

#svg-fill{
    fill: transparent;
    transition: fill 0.2s;

}

//design for cart content
.cart-parent{
    width: 30%;
    background: #fff;
    position: absolute;
    top: 90%;
    right: -3%;
    z-index: -10;
    box-shadow: 0 11px 20px 0px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    height: 200%;
    opacity: 1;
    //height is auto when there's item in the cart
    //height: auto;
    @include mQ($desktop){
        width: 35%;
        right: -2vw;
    }
    @include mQ($tablet){
        width: 40%;
    }
    @include mQ($mobile){
        width: 95%;
        right: 0;
        top: 110%;
        left: 2.5%;
        height: 500%;
    }
    p.cart-text{
        text-transform: capitalize;
        border-bottom: 1px solid #eee;
        margin-bottom: 0;
        padding: 0.5em 1em 1em;
        font-weight: 900;
        @include mQ($tablet){
            font-size: 0.9rem;
        }
    }
    p.empty-cart-text{
        //display: none;
        width: 70%;
        margin: 20% auto;
        text-align: center;
        font-size: .9rem;
        font-weight: 900;
        @include mQ($tablet){
            font-size: 0.8rem;
       }
    }

}

.close-cart{
    animation: scale-out 400ms ease-in-out;
    transform-origin: top right;
    opacity: 0;
    z-index: 10;
    pointer-events: none;
}

.open-cart{
    animation: scale-in 400ms ease-in-out;
    transform-origin: top right;
    z-index: 10;
}


.cart-content-checkout-btn{
    display: none;
    padding: 0.5em 0;
    position: relative;
    &::before{
        content: "";
        height: 8%;
        width: 100%;
        position: absolute;
        top: 0;
        z-index: 10;
        background: linear-gradient(180deg, black -150%, transparent 100%);
    }
    &::after{
        content: "";
        height: 8%;
        width: 100%;
        position: absolute;
        bottom: 23%;
        z-index: 10;
        background: linear-gradient(360deg, black -150%, transparent 100%);

    }
}

.cart_content{
    max-height: 250px;
    overflow-y: scroll;
    //box-shadow: inset 0 -2em 3em rgba(0,0,0,0.1);
}

.cart-product{
    display: flex;
    justify-content: space-between;
    padding: 1em;
    align-items: center;
}

.cart-product-image{
    width: 15%;
    overflow: hidden;
    border-radius: 8px;
    @include mQ($tablet){
        width: 13%;
        border-radius: 5px;
    }
    @include mQ($tablet){
        width: 15%;
    }
    img{
        width: 100%;
    }
}

.cart-product-details{
    width: 70%;
    p{
        padding: 0;
        font-weight: 500;
        font-size: 0.9rem;
        border-bottom: 0;
        margin: 0;
        @include mQ($tablet){
            font-size: 0.8rem;
        }
        @include mQ($tablet){
            font-size: 0.9rem;
        }
    }
    span{
        font-size: 0.8rem ;
        @include mQ($tablet){
            font-size: 0.7rem;
        }
        @include mQ($mobile){
            font-size: 0.8rem;
        }
    }
}

.reviewed-price{
    font-weight: 900;
    font-size: 1.1rem;
}

.delete-btn{
    width: 5%;
    cursor: pointer;
    @include mQ($mobile){
        width: 4%;
    }
    img{
        width: 100%;
    }
}

.checkout-btn{
    width: 90%;
    margin: 0.5em auto;
    @include mQ($tablet){
        width: 95%;
    }
    button{
        display: flex;
        justify-content: center;
        align-items: center;
        background: $orange;
        border: none;
        padding: 1em 2em;
        width: 100%;
        letter-spacing: .05em;
        color: $white;
        font-weight: 800;
        border-radius: 10px;
        transition: all .2s linear;
        @include mQ($tablet){
            padding: 1em 1.3em;
            font-size: 0.8rem;
            justify-content: space-around;
        }
        @include mQ($mobile){
            padding: 1em 10em;
        }
        @include mQ(400px){
            padding: 1em 7.5em;
        }
        @include mQ(325px){
            padding: 1em 5.5em;
        }
        &:hover{
            opacity: .6;
        }
        svg{
            width: 23%;
            fill: $white;
            @include mQ($mobile){
                width: 30%;
            }
            @include mQ(325px){
                width: 15%;
            }
        }
    }
}


//keyframes

@keyframes bounce {
    0%{
        transform: translateY(-2px);
    }
    50%{
        transform: translateY(3px);
    }
    100%{
        transform: translateY(-2px);
    }
}

@keyframes blurred-in{
    0%{
        opacity: 0;
        filter: blur(20px);
    }
    
    100%{
        opacity: 1;
        filter: blur(0);
    }
}

@keyframes scale-in {
    0%{
        opacity: 0;
        transform: rotateX(60deg) scale(3);
    }
    100%{
        transform: rotateX(0deg) scale(1);
        opacity: 1;
    }
}

@keyframes scale-out {
    0%{
        transform: rotateX(0deg) scale(1);
        opacity: 1;
        filter: blur(0);
    }
    100%{
        opacity: 0;
        transform: rotateX(60deg) scale(3);
        filter: blur(10px);
    }
}   

@keyframes slide-in {
    from{
        width: 0;
        padding: 0;
    }
    to{
        width: 70%;
        padding: 1em;
    }
}

@keyframes slide-out {
    to{
        width: 0;
        padding: 0;
    }
    from{
        width: 70%;
        padding: 1em;
    }
}