@use 'variable';
@use 'mixins';
@use "sass:math";
@import 'header';

@function changeNum(){
   @return math.random(4);
}



@debug changeNum();
@debug changeNum();
@debug changeNum();
@debug changeNum();




@each $name in $names{
    .#{$name}-collection{
        grid-area: #{$name};
        background-image: url("../images/#{$name}-product-#{$randomNum}.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        @include box-grid{
            @include mQ($mobile){
                height: 67% !important;
            }
            h2{
                color: $white;
                font-size: 2.2rem;
                letter-spacing: .1rem;
                margin-bottom: 0.6em;
                @include mQ($desktop){
                    font-size: 2rem;
                }
                @include mQ($tablet){
                    font-size: 1.7rem;
                    margin-bottom: 0.4em;
                }
            }
            p{
                color: $white;
                width: 90%;
                margin: 0;
                transition-delay: 100ms;
                @include mQ($desktop){
                    width: 100%;
                    font-size: 0.9rem;
                }
                @include mQ($tablet){
                    font-size: 0.7rem;
                }
            }
            span{
                color: $white;
                margin-block: 0.5em;
                display: inline-block;
                transition-delay: 150ms;
                @include mQ($desktop){
                    font-size: 0.9rem;
                }
                @include mQ($tablet){
                    font-size: 0.8rem;
                }
            }
            a{
                text-decoration: none;
            }
            .viewbtn{
                transition-delay: 200ms;
                button{
                    @include btn{
                        padding: 0.4em 0.6em;
                        width: 45%;
                        font-weight: 500;
                        border-radius: 5px;
                        @include mQ($desktop){
                            width: 51%;
                        }
                        @include mQ($tablet){
                            width: 65%;
                            font-size: 0.8em;
                        }
                        @include mQ($mobile){
                            width: 40%;
                        }
                    }
                }
            }
        };
        @include mQ($mobile){
            height: 15em;
            margin-block: 1em ;
        }
    }
}


// function for setting grid-area for women category
@each $name in $womenNames{
    .#{$name}-collection{
        grid-area: #{$name};
        background-image: url("../images/#{$name}-women-product-#{$randomNum}.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        @include box-grid{
            @include mQ($mobile){
                height: 67% !important;
            }
            h2{
                color: $white;
                font-size: 2.2rem;
                letter-spacing: .1rem;
                margin-bottom: 0.6em;
                @include mQ($desktop){
                    font-size: 2rem;
                }
                @include mQ($tablet){
                    font-size: 1.7rem;
                    margin-bottom: 0.4em;
                }
            }
            p{
                color: $white;
                width: 90%;
                margin: 0;
                transition-delay: 100ms;
                @include mQ($desktop){
                    width: 100%;
                    font-size: 0.9rem;
                }
                @include mQ($tablet){
                    font-size: 0.7rem;
                }
            }
            span{
                color: $white;
                margin-block: 0.5em;
                display: inline-block;
                transition-delay: 150ms;
                @include mQ($desktop){
                    font-size: 0.9rem;
                }
                @include mQ($tablet){
                    font-size: 0.8rem;
                }
            }
            a{
                text-decoration: none;
            }
            .viewbtn{
                transition-delay: 200ms;
                button{
                    @include btn{
                        padding: 0.4em 0.6em;
                        width: 45%;
                        font-weight: 500;
                        border-radius: 5px;
                        @include mQ($desktop){
                            width: 51%;
                        }
                        @include mQ($tablet){
                            width: 65%;
                            font-size: 0.8em;
                        }
                        @include mQ($mobile){
                            width: 40%;
                        }
                    };
                }
            }
        };
        @include mQ($mobile){
            height: 15em;
            margin-block: 1em ;
        }
    }
}

%gridIt{
    display: grid;
    gap: 5px;
    padding: 1em 3em;
    grid-template-columns: repeat(3, 1fr);
    @include mQ($tablet){
        padding: 1em 1em;
    }
    @include mQ($mobile){
        padding: 0 1em;
        display: block;
    }
}


main{
    margin-bottom: 1em;
}

.collection{
   @extend %gridIt;
    grid-template-areas:
    "product addidas addidas addidas"
    "product addidas addidas addidas"
    "product addidas addidas addidas"
    "product addidas addidas addidas"
    "product nike newbalance newbalance"
    "product nike newbalance newbalance"
    "product nike newbalance newbalance"
    "product nike vans vans"
    "puma nike vans vans"
    "puma nike vans vans"
    "puma nike vans vans";
    
}

.femaleCollection{
    @extend %gridIt;
    grid-template-areas:
    "alexander balenciaga balenciaga balenciaga"
    "alexander balenciaga balenciaga balenciaga"
    "alexander balenciaga balenciaga balenciaga"
    "gucci gucci converse converse"
    "gucci gucci converse converse"
    "gucci gucci converse converse"
    "gucci gucci converse converse"
    "gucci gucci converse converse"
    "off-white veja converse converse"
    "off-white veja converse converse"
    "off-white veja converse converse";
}



.product-collection{
    background-image: url(../images/image-product-#{$randomNum}.jpg);
    height: 28em;
    @include mQ(1100px){
        height: 24em;
    }
    @include mQ($tablet){
        height: 21em;
    }
    @include mQ($mobile){
        height: 15em;
    }
    > div {
        height: 60%;
        @include mQ($desktop){
            height: 62%;
        }
        @include mQ($tablet){
            height: 52%;
        }
    }
}

.nike-collection{
    > div{
        height: 54%;
        @include mQ($desktop){
            height: 58%;
            padding: 1em 0.5em;
        }
        @include mQ($tablet){
            height: 54%;
        }
    }
}

.addidas-collection{
    background-position: 50% 40%;
    @include mQ($tablet){
        height: 11em;
    }
    @include mQ($mobile){
        height: 15em;
    }
    > div{
        height: 100%;
        @include mQ($desktop){
            padding: 0.5em 1em;
        }
        @include mQ($tablet){
            padding: 0.5em;
            height: 90%;
        }
        p{
            width: 70%;
            @include mQ($mobile){
                width: 100%;
            }
        }
        .viewbtn{
            width: 50%;
            @include mQ($mobile){
                width: 100%;
            }
        }
    }
}

.puma-collection{
    height: 14em;
    @include mQ(1100px){
        height: 12em;
    }
    @include mQ($tablet){
        height: 10em;
    }
    @include mQ($mobile){
        height: 15em;
    }
    > div{
        @include mQ($desktop){
            padding: 0.5em;
        }
        h2{
            margin-bottom: 0.4em;
            @include mQ($desktop){
                margin-bottom: 0.2em;
            }
        }
    }
}

.newbalance-collection{
    background-position: 50% 60%;
    @include mQ($tablet){
        height: 9em;
    }
    @include mQ($mobile){
        height: 15em;
    }
    > div{
        padding: 0.5em;
        @include mQ($desktop){
            padding: 0.2em;
        }
        @include mQ($tablet){
            padding: 0.3em;
        }
        h2{
            font-size: 1.6rem;
            margin-bottom: 0.2em;
            @include mQ($desktop){
                margin-bottom: 0;
            }
            @include mQ($tablet){
                margin-bottom: 0.2em;
            }
        }
        p{
            font-size: 0.9rem;
            line-height: 1.5;
            @include mQ($desktop){
                line-height: 1.4;
                font-size: 0.8rem;
            }
            @include mQ($tablet){
                font-size: 0.7rem;
            }
        }
        span{
            font-size: 0.9rem;
            @include mQ($desktop){
                margin-block: 0em;
            }
            @include mQ($tablet){
                margin-block: 0.3em;
            }
        }
        .viewbtn{ 
            button{
                padding: 0.3em 0.6em;
                @include mQ($desktop){
                    padding: 0.1em 0.6em;
                }
                @include mQ($tablet){
                    padding-block: 0.3em;
                }
            }
        }
    }
}

.vans-collection{
    background-position: 50% 30%;
    > div{
        height: 87%;
        @include mQ($desktop){
            height: 95%;
            padding: 1em 0.5em;
        }
        @include mQ($tablet){
            height: 100%;
        }
        h2{
            @include mQ($tablet){
                margin-bottom: 0.2em;
            }
        }
    }
}

h1{
    margin: 1em;
    @include mQ($tablet){
        margin: 0.5em;
    }
}

.alexander-collection{
    height: 17em;
    @include mQ($desktop){
        height: 15em;
    }
    @include mQ($tablet){
        height: 10em;
    }
    @include mQ($mobile){
        height: 15em;
    }
}

.balenciaga-collection{
    background-position: 50% 70%;
    > div{
        p{
            max-width: 80%
        }
        button{
            width: 25%!important;
            @include mQ($desktop){
                width: 30%!important;
            }
            @include mQ($mobile){
                width: 40%!important;
            }
        }
    }
}

.gucci-collection{
    height: 20em;
    @include mQ($desktop){
        height: 14em;
    }
    @include mQ($tablet){
        height: 10em;
    }
    @include mQ($mobile){
        height: 15em;
    }
    > div{
        p{
            max-width: 80%
        }
        button{
            width: 25%!important;
            @include mQ($desktop){
                width: 30%!important;
            }
            @include mQ($mobile){
                width: 40%!important;
            }
        }
    }
}

.off-white-collection{
    height: 15em;
    @include mQ($desktop){
        height: 11em;
    }
    @include mQ($tablet){
        height: 9em;
    }
    @include mQ($mobile){
        height: 15em;
    }
    > div{
        @include mQ($desktop){
            padding: 0.2em;
        }
        @include mQ($mobile){
            padding: 0.5em;
        }
        h2{
            margin-bottom: 0.4em;
            @include mQ($desktop){
                margin-bottom: 0.1em;
            }
            @include mQ($tablet){
                margin-bottom: 0;
            }
            @include mQ($mobile){
                font-size: 1.7rem;
                margin-bottom: 0.4em;
            }
        }
    }
}

.veja-collection{
    > div{
        @include mQ($desktop){
            padding: 0.2em;
        }
        @include mQ($mobile){
            padding: 0.5em;
        }
        h2{
            margin-bottom: 0.4em;
            @include mQ($desktop){
                margin-bottom: 0.1em;
            }
            @include mQ($tablet){
                margin-bottom: 0;
            }
            @include mQ($mobile){
                font-size: 1.7rem;
                margin-bottom: 0.4em;
            }
        }
    }
}

@keyframes slide-up {
    from{
        transform: translateY(20px) rotateZ(-6deg);
        opacity: 0;
    }
    to{
        transform: translateY(0px) rotateZ(0deg);
        opacity: 1;
    }
}