@import 'variable';
@import 'header';
@import 'mixins';

// function for setting grid-area
@each $name in $names{
    .#{$name}-collection{
        grid-area: #{$name};
        background-image: url("../images/#{$name}-product-4.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        @include box-grid{
            h2{
                color: $white;
                font-size: 2.2rem;
                letter-spacing: .1rem;
                margin-bottom: 0.6em;
            }
            p{
                color: $white;
                width: 90%;
                margin: 0;
            }
            span{
                color: $white;
                margin-block: 0.5em;
                display: inline-block;
            }
            .viewbtn{
                button{
                    @include btn{
                        padding: 0.4em 0.6em;
                        width: 35%;
                        font-weight: 500;
                        border-radius: 5px;
                    };
                }
            }
        };
        @include mQ(650px){
            height: 15em;
            margin-block: 1em ;
        }
    }
}

.collection{
    display: grid;
    gap: 5px;
    padding: 1em 3em;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
    "product addidas addidas addidas"
    "product addidas addidas addidas"
    "product addidas addidas addidas"
    "product addidas addidas addidas"
    "product nike newbalance newbalance"
    "product nike newbalance newbalance"
    "product nike newbalance newbalance"
    "product nike vans vans"
    "puma nike vans vans"
    "puma nike vans vans"
    "puma nike vans vans";
    @include mQ(650px){
        padding-inline: 1em;
        display: block;
    }
}



.product-collection{
    background-image: url(../images/image-product-4.jpg);
    height: 28em;
    @include mQ(1100px){
        height: 24em;
    }
    @include mQ(800px){
        height: 21em;
    }
    @include mQ(650px){
        height: 15em;
    }
    > div {
        height: 60%;
    }
}

.nike-collection{
    div{
        height: 60%;
    }
}

.addidas-collection{
    background-position: 50% 40%;
    @include mQ(800px){
        height: 11em;
    }
    @include mQ(650px){
        height: 15em;
    }
    div{
        height: 100%;
        p{
            width: 70%;
        }
        .viewbtn{
            width: 50%;
        }
    }
}

.puma-collection{
    height: 14em;
    @include mQ(1100px){
        height: 12em;
    }
    @include mQ(800px){
        height: 10em;
    }
    @include mQ(650px){
        height: 15em;
    }
    div{
        h2{
            margin-bottom: 0.4em;
        }
    }
}

.newbalance-collection{
    background-position: 50% 60%;
    @include mQ(800px){
        height: 9em;
    }
    @include mQ(650px){
        height: 15em;
    }
    div{
        h2{
            font-size: 1.6rem;
            margin-bottom: 0.2em;
        }
        p{
            font-size: 0.9rem;
            line-height: 1.5;
        }
        span{
            font-size: 0.9rem;
        }
        .viewbtn{ 
            button{
                padding: 0.3em 0.6em;
            }
        }
    }
}

.vans-collection{
    background-position: 50% 30%;
    div{
        height: 90%;
    }
}

@keyframes slide-up {
    from{
        transform: translateY(20px) rotateZ(-6deg);
        opacity: 0;
    }
    to{
        transform: translateY(0px) rotateZ(0deg);
        opacity: 1;
    }
}