// media query
@mixin mQ($arg) {
    @media screen and (max-width: $arg) {
        @content
    }
}


//  button and hover effect
@mixin btn {
        display: flex;
        justify-content: center;
        align-items: center;
        background: $orange;
        border: none;
        padding: 1em 2em;
        width: 100%;
        letter-spacing: .05em;
        color: $white;
        font-weight: 800;
        border-radius: 10px;
        transition: all .2s linear;
        @content;
        &:hover{
            opacity: .6;
        }
}

// for content in collection page 
@mixin box-grid {
    position: relative;
    display: flex;
    align-items: end;
    > div h2, > div p, > div span, > div .viewbtn{
        transform: translateY(20px) rotateZ(-6deg);
        opacity: 0;
        transition: all 600ms;
        transform-origin: center right;
        filter: blur(5px);
        pointer-events: none;
    }
    &:hover > div{
        opacity: 1;
    }
    &:hover > div h2,  &:hover > div p,  &:hover > div span,  &:hover > div .viewbtn{
        transform: translateY(0px) rotateZ(0deg);
        opacity: 1;
        filter: blur(0px);
        pointer-events: visible;
    }
    > div{
        position: absolute;
        width: 100%;
        background: linear-gradient(transparent, #000 65%);
        padding: 1em;
        opacity: 0;
        transition: all 400ms;
        @content;
        @include mQ($tablet){
            padding: 0.5em;
        }
    }
}
