@import 'variable';

div.product-info{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(100%, auto);
    grid-gap: 5em;
    margin: 5em;
}

div.main-image{
    width: 95%;
    border-radius: 5%;
    overflow: hidden;
    cursor: pointer;
    img{
        width: 100%;
        animation: fade-in 500ms linear;
    }
}

div.thumbnail{
    display: flex;
    margin: 2em auto;
    span{
        width: 20%;
        border-radius: 15%;
        overflow: hidden;
        margin: 0px 2.5%; 
        position: relative; 
        &::before{
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            transition: border 100ms ease-out,
                        background 200ms ease-out ;
        }
        &:hover::before{
            content: '';
            position: absolute;
            border-radius: 15%;
            background: #fff;
            opacity: .7;
        }
        img{
            width: 100%;
        }
    }
}

div.thumbnail > span:nth-child(1){
    margin-left: 0;
}

div.thumbnail > span:nth-child(4){
    margin-right: 0;
}

div.product-details{
    padding: 3em 2em;
    small{
        text-transform: uppercase;
        font-weight: bolder;
        color: $orange;
        font-size: .7rem;
        letter-spacing: .1em;
    }
    h2{
        width: 100%;
        font-weight: 900;
        font-size: 2.3rem;
        margin: 0.3em 0;
    }
    .product-details-text{
        margin: 2em 0;
        width: 100%;
        font-size: .75rem;
        font-weight: 600;
        color: hsl(220, 7%, 56%);
    }
    span{
        display: flex;
        width: 30%;
        justify-content: space-between;
        p:nth-child(1){
            margin: 0;
            font-size: 1.5rem;
            color: #000;
            font-weight: 900;
        }
        p:nth-child(2){
            margin: 0 1em;
            line-height: 2;
            background-color: $paleOrange;
            color: $orange;
            font-weight: 900;
            padding: 0 .5em;
            border-radius: 10%;
        }
    }
    p:nth-child(5){
        margin: 0.2em 0;
        font-weight: 900;
        text-decoration: line-through;
        color: $grayishBlue;
    }
    
}

.add-to-cart{
    display: flex;
    margin: 2em 0;
    justify-content: space-between;
}

div.number-of-product{
    display: flex;
    justify-content: space-between;
    padding: .8em 1em;
    width: 40%;
    border-radius: 10px;
    background-color: $lightGrayishBlue;
    p{
        margin: 0;
        font-weight: 900;
        font-size: 1.3rem;
    }
}

div.number-of-product > p:nth-child(1), div.number-of-product > p:nth-child(3){
    color: $orange;
    cursor: pointer;
    transition: all .2s linear;
}

div.number-of-product > p:nth-child(1){
    opacity: .4;
}

div.number-of-product > p:nth-child(1):hover, div.number-of-product > p:nth-child(3):hover{
    opacity: .8;
}

div.add-to-cart-btn{
    width: 55%;
    button{
        display: flex;
        justify-content: center;
        align-items: center;
        background: $orange;
        border: none;
        padding: 1em 2em;
        width: 100%;
        letter-spacing: .05em;
        color: $white;
        font-weight: 800;
        border-radius: 10px;
        transition: all .2s linear;
        &:hover{
            opacity: .6;
        }
        svg{
            width: 23%;
            fill: $white;
        }
    }
}

// design for active thumbnail
.active-thumbnail{
    &::before{
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        opacity: .7;
        border: 2px solid #ff7d1a;
        background: #fff;
        border-radius: 15%;
        transition: border 100ms ease-out,
                    background 200ms ease-out ;
    }
}

.active-thumbnail-black{
    &::before{
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        opacity: .7;
        border: 2px solid #000;
        background: #fff;
        border-radius: 15%;
        transition: border 100ms ease-out,
                    background 200ms ease-out ;
    }
}

.active-thumbnail-blue{
    &::before{
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        opacity: .7;
        border: 2px solid #535bcf;
        background: #fff;
        border-radius: 15%;
        transition: border 100ms ease-out,
                    background 200ms ease-out ;
    }
}


// design for design carousel

.hidden{
    visibility: hidden;
}

.carousel-closed{
    animation: fade-out 200ms linear forwards;
    
}

.product-carousel-parent{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba($color: #000000, $alpha: .7);
    z-index: 99;
}

.carousel-open{
    animation: wide-in 300ms linear forwards;
    visibility: visible;
}

.product-carousel{
    width: 28%;
    height: 50%;
    margin: 15vh auto;
}

.carousel-inner{
    border-radius: 15px;
}

.carousel-btn{
    color: white;
    opacity: .9;
    top: 3em;
    &:hover svg{
        stroke: $orange;
    }
    span{
        width: 3rem;
        height: 3rem;
        background-color: $white;
        border-radius: 50%;
        line-height: 2.7;
        svg{
            stroke: #1D2026;
            transition: stroke 200ms linear;
        }
    }
}

.carousel-prev-btn{
    left: -1.8em;
}

.carousel-next-btn{
    right: -1.7em;
}

.close-btn{
    position: absolute;
    top: -2em;
    left: 95%;
    z-index: 100;
    svg{
        fill: $white;
        transition: fill 100ms linear;
        &:hover{
            fill: $orange;
        }
    }
    
}

@keyframes wide-in {
    0%{
        transform: scale(0);
    }
    100%{transform: scale(1);}
}

@keyframes fade-out {
    100%{
        transform: scale(0);
    }
}

@keyframes fade-in{
    0%{opacity: 0}
    100%{opacity: 1;}
}