$orange: hsl(26, 100%, 55%);
$paleOrange: hsl(25, 100%, 94%);
$varkBlue: hsl(220, 13%, 13%);
$grayishBlue: hsl(220, 14%, 75%);
$lightGrayishBlue: hsl(223, 64%, 98%);
$white: hsl(0, 0%, 100%);
$socials: #69707D;
